node_modules/
#Common useless files
*.zip
*.jar
*.exe

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
build/
bld/
[Bb]in/
[Oo]bj/
*/web/obj/
*/web/bin/

Debug/ 
Release/ 
obj/
/.vs/

lililili/SqlMap.config
source/UI/Innocellence\.Web/App_Data/Logs/
lililili/SqlMap.config
*.config
Blog/.vs/Blog/
blog-app/dist/
blog-app/.idea/
