<?xml version="1.0" encoding="utf-8"?>
<daoConfig
  xmlns="http://ibatis.apache.org/dataAccess"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <providers resource="config/providers.config"/>
  <context id="SqlMapDao" default="true">
    <database>
      <provider name="MySql"/>
      <dataSource name="blog" connectionString="server=localhost;user id=bloglink;Password=123456;Database=blog;Port=3306;CharSet=utf8;allow zero datetime=true;Convert Zero Datetime=true;Connect Timeout=60;" />
    </database>
    <daoSessionHandler id="SqlMap">
      <property name="resource" value="config/SqlMap.config"/>
    </daoSessionHandler>

    <daoFactory assembly="Blog.Service.dll">
      <!--博客文章-->
      <dao interface="Blog.Service.BlogInfoDao, Blog.Service" implementation="Blog.Service.IBlogInfoDao, Blog.Service"/>
    </daoFactory>


  </context>
</daoConfig>