<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="true"/>
  </settings>
  <providers resource="config/providers.config"/>

  <database>
    <provider name="MySql"/>
    <dataSource name="blog" connectionString="server=localhost;user id=bloglink;Password=123456;Database=blog;Port=3306;CharSet=utf8;allow zero datetime=true;Convert Zero Datetime=true;Connect Timeout=60;" />
  </database>
  <sqlMaps>

    <!--博客文章-->
    <sqlMap embedded="Blog.Service.Maps.BlogInfo.xml, Blog.Service" />

  </sqlMaps>
</sqlMapConfig>