.page {
  &-footer {
    background-color: #aaaaaa;
    position: absolute;
    bottom: 0;

    .text-bottom {
      float: left;
      height: 20px;
      line-height: 20px;
      margin: 0 0 0 5px;
      color: #000000;
    }
  }
}
